@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/* Homepage Styling */
.gif{
  display:flex;
  margin: 0 auto;
  height:30em;
}
.tagline {
  font-size: 3.5rem;
  color:rgb(128, 126, 126);
  display:flex;
  justify-content: center;
 }


 /* Navbar Syling */
 .navbar {
  font-size: 2rem;
  padding: 5px;
  display:flex;
  justify-content: center;
 }




 

 /* Header Syling */
 .header {
  /* font-family: 'Helvetica'; */
  font-size: 2rem;
  display:flex;
  float:right;
  padding: 5px;
  margin-right: .5em;
 }
/* Header  button */
a{
  color:rgb(128, 126, 126);
  text-decoration: none;
}

/* footer  */
.footer{
   font-family: 'Helvetica';
   font-weight: 800;
   font-size: 1.5em;
    color: rgb(201, 134, 134);
    padding: 5px;
    background: rgb(216, 216, 216);
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
  }
  .inlinefooter{
    display:flex;
    justify-content: space-between;
  }
  .footerlinks{
    font-family: 'Helvetica';
    margin-top: 1vh;
    margin-bottom: 1vh;
    bottom:0;
  }
  .footerlinklist{
    list-style-type: none;
    display: flex;
    align-self:flex-end;
    bottom:0;
  }
.instathumbnail{
  width: 1.1em;
  margin-top: .1em;
}

